<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>注册 - Loogle 学术搜索</title>

		<meta name="description" content="User login page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/font-awesome/4.5.0/css/font-awesome.min.css" />
		<link rel="icon" type="image/x-icon" href="/images/Google-one-01.png" />

		<!-- text fonts -->
		<link rel="stylesheet" href="/css/fonts.googleapis.com.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="/css/ace.min.css" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="/css/ace-part2.min.css" />
		<![endif]-->
		<link rel="stylesheet" href="/css/ace-rtl.min.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="/css/ace-ie.min.css" />
		<![endif]-->

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="/js/html5shiv.min.js"></script>
		<script src="/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<i class="ace-icon fa fa-leaf green"></i>
									<b class="text-primary">L</b><b class="red">o</b><b class="orange">o</b><b class="text-primary">g</b><b class="green">l</b><b class="red">e</b>
									<span class="white" id="id-text2">学术搜索</span>
								</h1>
								<h4 class="blue" id="id-company-text">&copy; HUST</h4>
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger">
												<i class="ace-icon fa fa-coffee green"></i>
												Please Enter Your Information
											</h4>

											<span th:text="${msg}" style="color:red;"></span>
											<div class="space-6"></div>

											<form method="post" action="/search/login">
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" name="username" class="form-control" placeholder="用户名" />
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" name="password" class="form-control" placeholder="密码" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>

													<label>
														<span class="block input-icon input-icon-right">
															<input id="code" placeholder="验证码" type="text" name="code"
																   style="width:170px">
															<!-- 验证码 显示 -->
															<img οnclick="javascript:getvCode()" id="verifyimg" style="margin-left: 20px;"/>
														</span>
													</label>

													<!--验证码脚本-->
													<script type="text/javascript">
														getvCode();
														/**
														 * 获取验证码
														 * 将验证码写到login.html页面的id = verifyimg 的地方
														 */
														function getvCode() {
															document.getElementById("verifyimg").src = timestamp("/search/verifyCode");
														}
														//为url添加时间戳
														function timestamp(url) {
															let getTimestamp = new Date().getTime();
															if (url.indexOf("?") > -1) {
																url = url + "&timestamp=" + getTimestamp
															} else {
																url = url + "?timestamp=" + getTimestamp
															}
															return url;
														}
													</script>

													<div class="space"></div>

													<div class="clearfix">
														<label class="inline">
															<input type="checkbox" class="ace" />
															<span class="lbl"> 记住我</span>
														</label>

														<button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
															<i class="ace-icon fa fa-key"></i>
															<span class="bigger-110">登录</span>
														</button>
													</div>

													<div class="space-4"></div>
												</fieldset>
											</form>

											<div class="social-or-login center">
												<span class="bigger-110">或使用以下方式登录</span>
											</div>

											<div class="space-6"></div>

											<div class="social-login center">
												<a class="btn btn-primary">
													<i class="ace-icon fa fa-facebook"></i>
												</a>

												<a class="btn btn-info">
													<i class="ace-icon fa fa-twitter"></i>
												</a>

												<a class="btn btn-danger">
													<i class="ace-icon fa fa-google-plus"></i>
												</a>
											</div>
										</div><!-- /.widget-main -->

										<div class="toolbar clearfix">
											<div>
												<a href="#" data-target="#forgot-box" class="forgot-password-link">
													<i class="ace-icon fa fa-arrow-left"></i>
													忘记密码
												</a>
											</div>

											<div>
												<a href="#" data-target="#signup-box" class="user-signup-link">
													单击注册
													<i class="ace-icon fa fa-arrow-right"></i>
												</a>
											</div>
										</div>
									</div><!-- /.widget-body -->
								</div><!-- /.login-box -->

								<div id="forgot-box" class="forgot-box widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header red lighter bigger">
												<i class="ace-icon fa fa-key"></i>
												找回密码
											</h4>

											<div class="space-6"></div>
											<p>
												输入您的电子邮件接收验证码
											</p>

											<form>
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" class="form-control" placeholder="Email" />
															<i class="ace-icon fa fa-envelope"></i>
														</span>
													</label>

													<div class="clearfix">
														<button type="button" class="width-35 pull-right btn btn-sm btn-danger">
															<i class="ace-icon fa fa-lightbulb-o"></i>
															<span class="bigger-110">发送</span>
														</button>
													</div>
												</fieldset>
											</form>
										</div><!-- /.widget-main -->

										<div class="toolbar center">
											<a href="#" data-target="#login-box" class="back-to-login-link">
												返回登陆界面
												<i class="ace-icon fa fa-arrow-right"></i>
											</a>
										</div>
									</div><!-- /.widget-body -->
								</div><!-- /.forgot-box -->

								<div id="signup-box" class="signup-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header green lighter bigger">
												<i class="ace-icon fa fa-users blue"></i>
												新用户注册
											</h4>

											<div class="space-6"></div>
											<p> 输入您的详细信息： </p>
											<span th:text="${msg}" th:style="${'color: '+color+';'}"></span>

											<form action="/search/signup" method="post">
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" name="email" class="form-control" placeholder="Email" />
															<i class="ace-icon fa fa-envelope"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" name="username" class="form-control" placeholder="用户名" />
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" name="password" class="form-control" placeholder="密码" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" name="password2" class="form-control" placeholder="重复密码" />
															<i class="ace-icon fa fa-retweet"></i><span style="color: red;">*</span>
														</span>
													</label>

													<label class="block">
														<input type="checkbox" class="ace checkSty" />
														<span class="lbl">
															我接受
															<a href="#" data-toggle="modal" data-target="#agreement">用户协议</a>
														</span>
													</label>

													<script>
														let enter =function(){
															let checkSty = $(".checkSty").is(":checked");
															//判断checkbox是否被选中
															if (checkSty===false){
																//r如果没有被选中，则显示弹窗
																alert('请先同意用户协议!');
																return false;
															}
															else {
																return true;
															}
														}
													</script>

													<div class="space-24"></div>

													<div class="clearfix">
														<button type="reset" class="width-30 pull-left btn btn-sm">
															<i class="ace-icon fa fa-refresh"></i>
															<span class="bigger-110">重置</span>
														</button>

														<button type="submit" class="width-65 pull-right btn btn-sm btn-success" onclick="return enter();">
															<span class="bigger-110">注册</span>

															<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
														</button>
													</div>
												</fieldset>
											</form>
										</div>

										<div class="toolbar center">
											<a href="#" data-target="#login-box" class="back-to-login-link">
												<i class="ace-icon fa fa-arrow-left"></i>
												返回登陆界面
											</a>
										</div>
									</div><!-- /.widget-body -->
								</div><!-- /.signup-box -->
							</div><!-- /.position-relative -->

							<div class="navbar-fixed-top align-right">
								<br />
								&nbsp;
								<a id="btn-login-dark" href="#">黑色</a>
								&nbsp;
								<span class="blue">/</span>
								&nbsp;
								<a id="btn-login-blur" href="#">模糊</a>
								&nbsp;
								<span class="blue">/</span>
								&nbsp;
								<a id="btn-login-light" href="#">白色</a>
								&nbsp; &nbsp; &nbsp;
							</div>
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->


		<!-- Modal -->
		<div class="modal fade" tabindex="-1" id="agreement" role="dialog" aria-labelledby="mySmallModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Loogle学术搜索登录服务协议</h4>
					</div>
					<div class="modal-body">
						<div class="" style="margin-top: 20px;">
							<p style="text-align: center;font-size: 20px;font-weight:bold;float:left;width:100%;"></p>
							<ul class="">
								<li>
									<div class="align-left">
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;欢迎您使用Loogle学术搜索登录服务！</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;
											为使用Loogle学术搜索登录服务，您应当阅读并遵守《Loogle学术搜索登录服务协议》（以下简称“本协议”）、《Loogle学术搜索用户注册协议》等相关协议、规则。请您务必审慎阅读、充分理解各条款内容，特别是免除或限制责任的相应条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制或免除责任条款可能以加粗形式提示您注意。
										</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;
											除非您已阅读并接受本协议所有条款，否则您无权使用Loogle学术搜索登录服务（以下简称“本服务”）。您对本服务的任何登录、查看或使用Loogle学术搜索账号登录、使用第三方网站、应用或服务等行为即视为您已阅读并同意本协议的约束。
										</div>
									</div>
								</li>
								<li>
									<div class="align-left">
										<div class="h4 bolder">一、协议的范围</div>
										<div class="h4 bolder">1.1 协议适用主体范围</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;本协议是您与Loogle学术搜索、第三方之间关于您使用Loogle学术搜索登录服务所订立的协议。</div>
										<div class="h4 bolder">1.2 本服务内容</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;
											本协议项下的Loogle学术搜索登录服务是指您可以通过使用Loogle学术搜索账号登录第三方提供的网站、应用及使用第三方提供的服务等（以下简称“本服务”）。（本协议中的“第三方”若无特别说明，均指运营您通过本服务登录的具体网站、应用或服务等的个人、法人或其他组织，该第三方与Loogle学术搜索是不同的法律主体。）
										</div>
										<div class="h4 bolder">1.3 协议关系及冲突条款</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;
											本协议被视为《Loogle学术搜索用户注册协议》（链接地址：http://kf.casicloud.com/help/fwxy/20170313_001.html?name=fwxy
											，若链接地址变更的，则以变更后的链接地址所对应的内容为准；其他链接地址变更的情形，均适用前述约定。）的补充协议，是其不可分割的组成部分，与其构成统一整体。
										</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;本协议与上述内容存在冲突的，以本协议为准。</div>
									</div>
								</li>
								<li>
									<div class="align-left">
										<div class="h4 bolder">二、 用户个人信息保护</div>
										<div class="h4 bolder">2.1</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;
											为使用本服务，您须允许第三方获取、使用您的部分必要的信息，比如您的Loogle学术搜索用户名、企业名称、联系人、手机号码、邮箱等，如果您不同意，您将无法使用本服务，也请您立即停止使用本服务。否则，您对本服务的任何登录、查看或任何使用Loogle学术搜索账号登录、使用第三方网站、应用或服务等的行为，即视为您同意前述第三方对于您的个人信息获取、使用的约定。
										</div>
										<div class="h4 bolder">2.2</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;
											您在使用本服务时，可能需向第三方提供您的其他账号信息、将您的信息或操作进行分享、允许第三方向您的账户等同步各种信息等，请您仔细阅读授权页面并自行决定是否授权以及授权范围等。
										</div>
									</div>
								</li>
								<li>
									<div class="align-left">
										<div class="h4 bolder">三、使用规则</div>
										<div class="h4 bolder">3.1</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;
											您在使用本服务时，您须通过Loogle学术搜索提供的技术接口、登录页面等Loogle学术搜索许可的方式等进行Loogle学术搜索帐号和密码输入、个人信息授权等操作，否则，可能会导致您Loogle学术搜索帐号或密码泄露或其他信息泄露及损失的，由您自行承担。
										</div>
										<div class="h4 bolder">3.2</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;第三方自行保证提供的具体网站、应用或服务等的合法性、安全性以及真实性，若因任何第三方原因，造成您损失的，应由第三方承担全部责任，Loogle学术搜索不承担任何责任。</div>
										<div class="h4 bolder">3.3</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;您通过本服务使用Loogle学术搜索帐号登录、使用的网站、应用或服务等，应同时遵循您与第三方之间的协议、约定或第三方相关的规则等。</div>
										<div class="h4 bolder">3.4</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;
											您理解并同意：Loogle学术搜索在本服务中仅提供了登录接口的技术服务，您通过本服务使用Loogle学术搜索帐号登录、使用的网站、应用或服务等，均是由第三方提供的，在您同意使用本登录服务时所有的风险与后果均有您完全自行承担，Loogle学术搜索无法保证第三方网站、应用或服务等的合法性、安全性以及真实性，第三方网站、应用或服务等的质量和安全等由第三方独立负责、承担，您会自行进行判断、甄别、选择。若您因登录、使用第三方网站、应用或服务等产生任何纠纷或损失的，您应自行与第三方协商或通过其他合法途径解决，Loogle学术搜索无需对此向您承担任何责任或赔偿您任何损失。
										</div>
									</div>
								</li>
								<li>
									<div class="align-left">
										<div class="h4 bolder">四、用户行为规范</div>
										<div class="h4 bolder">4.1 法律禁止行为</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;您在使用本服务时不得利用本服务从事以下行为，或为以下行为提供任何便利。包括但不限于：</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;（1）发布、传送、传播、储存违反国家法律法规、危害国家安全统一、社会稳定、公序良俗的内容；</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;（2）发布、传送、传播、储存侵害他人名誉权、肖像权、知识产权、商业秘密等合法权益的内容；</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;（3）发布、传送、传播虚构事实、隐瞒真相以误导、欺骗他人的内容；</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;（4）发表、传送、传播广告信息及垃圾信息；散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪；</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;（5）从事其他违反法律法规、政策及社会公序良俗的行为；</div>
										<div class="h4 bolder">4.2 用户禁止行为</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;本服务仅供账号所属者使用，除非经Loogle学术搜索书面许可，您不得进行以下行为：</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;（1）通过任何方式搜集本服务中其他用户的用户名、电子邮件等相关信息，并以发送垃圾邮件、连锁邮件、垃圾短信、即时消息等方式干扰、骚扰其他用户；</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;（2）通过本服务发布包含广告、宣传、促销等内容的信息；</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;（3）将本服务再次许可他人使用；</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;（4）其他未经Loogle学术搜索书面许可的行为；</div>
										<div class="h4 bolder">4.3 对自己行为负责</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;您充分了解并同意，您必须为自己注册帐号下的一切行为负责，包括您所发表的任何内容以及由此产生的任何法律后果。</div>
										<div class="h4 bolder">4.4 违约处理</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;
											如果Loogle学术搜索发现或收到他人举报您违反本协议约定的，Loogle学术搜索有权进行独立判断，并视您的行为性质，采取包括但不限于中止、终止您对您使用的Loogle学术搜索账号的使用权，暂停或终止本服务，追究您法律责任。
										</div>
										<div class="h4 bolder">4.5 对损害的处理</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;若由于您的任何行为，导致任何Loogle学术搜索或他方损害的，您应当独立承担责任和赔偿Loogle学术搜索或他方的相应损失。</div>
									</div>
								</li>

								<li>
									<div class="anli_right">
										<div class="h4 bolder">五、其他</div>
										<div class="h4 bolder">5.1 协议的生效与变更</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;
											您使用本服务即视为您已阅读并同意受本协议的约束。Loogle学术搜索有权在必要时单方修改本协议条款。您可以在相关页面中查阅最新的协议条款。本协议条款变更后，如果您继续使用本服务，即视为您已接受修改后的协议。如果您不接受修改后的协议，应当停止使用本服务。
										</div>
										<div class="h4 bolder">5.2 适用法律</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不含港、奥、台法律）。</div>
										<div class="h4 bolder">5.3 争议解决</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;若您、Loogle学术搜索或第三方之间发生任何纠纷或争议，各方首先应友好协商解决；协商不成的，三方均同意将纠纷或争议提交Loogle学术搜索科技发展有限责任公司所在地人民法院管辖。
										</div>
										<div class="h4 bolder">5.4 条款标题</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</div>
										<div class="h4 bolder">5.5 条款效力</div>
										<div class="">&nbsp;&nbsp;&nbsp;&nbsp;本协议条款无论因何种原因部分无效，其余条款仍有效，对双方具有约束力。（正文完）</div>
									</div>
								</li>

							</ul>
							<p class="align-right">Loogle学术搜索<br>
							</p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
					</div>
				</div>
			</div>
		</div>


		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script src="/js/jquery-1.11.3.min.js"></script>
		<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->
		<script src="/js/ace-elements.min.js"></script>
		<script src="/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
		<!--[endif]-->
		<script src="/js/jquery-ui.custom.min.js"></script>
		<script src="/js/jquery.ui.touch-punch.min.js"></script>
		<script src="/js/bootbox.js"></script>
		<script src="/js/jquery.easypiechart.min.js"></script>
		<script src="/js/jquery.gritter.min.js"></script>
		<script src="/js/spin.js"></script>
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
			 $(document).on('click', '.toolbar a[data-target]', function(e) {
				e.preventDefault();
				var target = $(this).data('target');
				$('.widget-box.visible').removeClass('visible');//hide others
				$(target).addClass('visible');//show target
			 });
			});
			
			
			
			//you don't need this, just used for changing background
			jQuery(function($) {
			 $('#btn-login-dark').on('click', function(e) {
				$('body').attr('class', 'login-layout');
				$('#id-text2').attr('class', 'white');
				$('#id-company-text').attr('class', 'blue');
				
				e.preventDefault();
			 });
			 $('#btn-login-light').on('click', function(e) {
				$('body').attr('class', 'login-layout light-login');
				$('#id-text2').attr('class', 'grey');
				$('#id-company-text').attr('class', 'blue');
				
				e.preventDefault();
			 });
			 $('#btn-login-blur').on('click', function(e) {
				$('body').attr('class', 'login-layout blur-login');
				$('#id-text2').attr('class', 'white');
				$('#id-company-text').attr('class', 'light-blue');
				
				e.preventDefault();
			 });
			 
			});
		</script>
	</body>
</html>
