<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>订阅 - Loogle 学术搜索</title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/font-awesome/4.5.0/css/font-awesome.min.css" />

		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="/css/jquery-ui.min.css" />

		<!-- text fonts -->
		<link rel="stylesheet" href="/css/fonts.googleapis.com.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="/css/ace-skins.min.css" />
		<link rel="stylesheet" href="/css/ace-rtl.min.css" />
		
		<link rel="icon" type="image/x-icon" href="/images/Google-one-01.png" />

		<!--[if lte IE 9]>
		 	 <link rel="stylesheet" href="/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->
		<style>
			a:focus{text-decoration:none; color:lightblue;}
			a:link{text-decoration:none;} /*指正常的未被访问过的链接*/
			a:visited{text-decoration:none;} /*指已经访问过的链接*/
			a:hover{text-decoration:none;} /*指鼠标在链接*/
			a:active{text-decoration:none;} /*指正在点的链接*/
		</style>

		<!-- ace settings handler -->
		<script src="/js/ace-extra.min.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="/js/html5shiv.min.js"></script>
		<script src="/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default          ace-save-state">
			<div class="navbar-container ace-save-state" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="main" class="navbar-brand">
						<small>
							<i class="fa fa-leaf"></i>
							<b class="text-primary">L</b><b class="red">o</b><b class="orange">o</b><b class="text-primary">g</b><b class="green">l</b><b class="red">e</b>
							学术搜索
						</small>
					</a>
				</div>

				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">

						<li class="light-blue dropdown-modal">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="/images/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									<small>Welcome,</small>
									<div th:text="${session['user'].username}"></div>
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="settings">
										<i class="ace-icon fa fa-cog"></i>
										设置
									</a>
								</li>

								<li>
									<a href="profile">
										<i class="ace-icon fa fa-user"></i>
										个人资料
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="#" data-toggle="modal" data-target="#logoutconfirmation">
										<i class="ace-icon fa fa-power-off"></i>
										登出
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div><!-- /.navbar-container -->
		</div>

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div id="sidebar" class="sidebar responsive ace-save-state">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<!-- 查看热搜 -->
						<button class="btn btn-success" onclick="window.location.href='trends'">
							<i class="ace-icon fa fa-signal"></i>
						</button>

						<!-- 订阅 -->
						<button class="btn btn-info" onclick="window.location.href='subscription'">
							<i class="ace-icon fa fa-bell"></i>
						</button>

						<!-- 书签 -->
						<button class="btn btn-warning" onclick="window.location.href='bookmark'">
							<i class="ace-icon glyphicon glyphicon-tags"></i>
						</button>

						<!-- 设置 -->
						<button class="btn btn-danger" onclick="window.location.href='settings'">
							<i class="ace-icon fa fa-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success" onclick="window.location.href='trends'"></span>

						<span class="btn btn-info" onclick="window.location.href='subscription'"></span>

						<span class="btn btn-warning" onclick="window.location.href='bookmark'"></span>

						<span class="btn btn-danger" onclick="window.location.href='settings'"></span>
					</div>
				</div><!-- /.sidebar-shortcuts -->

				<ul class="nav nav-list">
					
					<li class="active">
						<a href="subscription">
							<i class="menu-icon fa fa-bell"></i>
							<span class="menu-text"> 订阅 </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="bookmark">
							<i class="menu-icon fa fa-bookmark"></i>
							<span class="menu-text"> 书签 </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="mine">
							<i class="menu-icon fa fa-home"></i>
							<span class="menu-text"> 我的 </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<!-- <i class="menu-icon fa fa-tag"></i> -->
							<i class="menu-icon glyphicon glyphicon-cog"></i>
							<span class="menu-text"> 设置 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="profile">
									<i class="menu-icon fa fa-caret-right"></i>
									个人信息
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="#" data-toggle="modal" data-target="#logoutconfirmation">
									<i class="menu-icon fa fa-caret-right"></i>
									退出登录
								</a>

								<b class="arrow"></b>
							</li>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>

				</ul><!-- /.nav-list -->

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="main">主页</a>
							</li>
							<li class="active">订阅</li>
						</ul><!-- /.breadcrumb -->


					</div>

					<div class="page-content">
						<div class="ace-settings-container" id="ace-settings-container">
							<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
								<i class="ace-icon fa fa-cog bigger-130"></i>
							</div>

							<div class="ace-settings-box clearfix" id="ace-settings-box">
								<div class="pull-left width-50">
									<div class="ace-settings-item">
										<div class="pull-left">
											<select id="skin-colorpicker" class="hide">
												<option data-skin="no-skin" value="#438EB9">#438EB9</option>
												<option data-skin="skin-1" value="#222A2D">#222A2D</option>
												<option data-skin="skin-2" value="#C6487E">#C6487E</option>
												<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
											</select>
										</div>
										<span>&nbsp; Choose Skin</span>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
										<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
										<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
										<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
										<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
										<label class="lbl" for="ace-settings-add-container">
											Inside
											<b>.container</b>
										</label>
									</div>
								</div><!-- /.pull-left -->

								<div class="pull-left width-50">
									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
										<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
										<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
										<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
									</div>
								</div><!-- /.pull-left -->
							</div><!-- /.ace-settings-box -->
						</div><!-- /.ace-settings-container -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<!--页面开头-->
								<div class="row">
									<div class="col-xs-12">
										<div class="page-header">
											<h1>
												我的订阅
												<small>
													<i class="ace-icon fa fa-angle-double-right"></i>
													具体的订阅内容会显示在这里
												</small>
											</h1>
										</div>
									</div>
								</div>

								<!--页面上方订阅期刊表-->
								<div id="tabs">
									<ul>
										<li th:each="sub_art, index : ${subs_arts}">
											<a th:href="@{'#'+${#strings.replace(sub_art.key.journal,' ','_')}}" style="font-size: medium" th:text="${#strings.replace(sub_art.key.journal,' ','_')}">Nature</a>
										</li>
									</ul>

									<div th:each="sub_art, index : ${subs_arts}" th:id="${#strings.replace(sub_art.key.journal,' ','_')}">
										<!--选中的期刊对应的文章表-->
										<table class="table table-hover table-bordered b1">
											<thead>
											<tr style="font-size: medium">
												<th>论文题目</th>
												<th>作者</th>
												<th>发表时间</th>
												<th>操作</th>
											</tr>
											</thead>
											<tbody>
											<tr style="font-size: medium" th:each="art:${sub_art.value.list}">
												<td><a th:text="${art.articlename}" th:href="@{'/search/article/'+${art.doi}}">京津冀绿色金融发展综合评价及影响因素研究</a></td>
												<td th:text="${art.author}">王文静; 何泰屹; 武慧敏; 史娅婷</td>
												<td th:text="${art.time}">2021-01-06 15:06</td>
												<td>
												<span>
													<a th:href="${art.link}">下载</a>/
													<a href="#" data-toggle="modal" th:data-target="@{'#citing_'+${art.doi}}">引用</a>/
													<form th:action="@{/search/bookmark(doi=${art.doi})}" method="post">
														<button type="submit" class="btn btn-pink btn-sm">书签</button>
													</form>
												</span>
												</td>
												<!--引用模块框-->
												<th:div class="modal fade bs-example-modal-lg" tabindex="-1" th:id="@{'citing_'+${art.doi}}" role="dialog" aria-labelledby="mySmallModalLabel">
													<div class="modal-dialog modal-lg" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																<h4 class="modal-title" id="myModalLabel2">引用格式</h4>
															</div>
															<div class="modal-body">
																<span th:text="@{${art.articlename}+', '+${art.author}+', '+${art.journal}+', '+${#dates.format(art.time, 'yyyy')}+'.'}"></span>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
																<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
															</div>
														</div>
													</div>
												</th:div>
											</tr>
											<tr></tr>
											<tr></tr>
											</tbody>
										</table>
										<!--分页-->
										<nav aria-label="Page navigation">
											<ul class="pagination">
												<li th:class="${sub_art.value.hasPreviousPage}?'':'disabled'">
													<a th:href="${sub_art.value.hasPreviousPage}?@{/search/subscription(pageIndex=${sub_art.value.prePage})}:'#'" aria-label="Previous">
														<span aria-hidden="true">&laquo;</span>
													</a>
												</li>

												<th:block th:each="nav : ${sub_art.value.navigatepageNums}">
													<li th:class="${nav==sub_art.value.pageNum}?'active':''">
														<a th:href="@{/search/subscription(pageIndex=${nav})}" th:text="${nav}"></a>
													</li>
												</th:block>

												<li th:class="${sub_art.value.hasNextPage}?'':'disabled'">
													<a th:href="${sub_art.value.hasNextPage}?@{/search/subscription(pageIndex=${sub_art.value.nextPage})}:'#'" aria-label="Next">
														<span aria-hidden="true">&raquo;</span>
													</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>


								<!-- 登出模块框 -->
								<div class="modal fade bs-example-modal-sm" tabindex="-1" id="logoutconfirmation" role="dialog" aria-labelledby="mySmallModalLabel">
									<div class="modal-dialog modal-sm" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">登出确认</h4>
											</div>
											<div class="modal-body">
												确定要退出登录吗？
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary" onclick="window.location.href='logout'">确定</button>
												<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
											</div>
										</div>
									</div>
								</div>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Scholar</span>
							Search and Management &copy; 2020-2021
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");

		</script>
		<script src="/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->
		<script src="/js/jquery-ui.min.js"></script>
		<script src="/js/jquery.ui.touch-punch.min.js"></script>

		<!-- ace scripts -->
		<script src="/js/ace-elements.min.js"></script>
		<script src="/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {

				$( "#datepicker" ).datepicker({
					showOtherMonths: true,
					selectOtherMonths: false,
					//isRTL:true,


					/*
					changeMonth: true,
					changeYear: true,

					showButtonPanel: true,
					beforeShow: function() {
						//change button colors
						var datepicker = $(this).datepicker( "widget" );
						setTimeout(function(){
							var buttons = datepicker.find('.ui-datepicker-buttonpane')
							.find('button');
							buttons.eq(0).addClass('btn btn-xs');
							buttons.eq(1).addClass('btn btn-xs btn-success');
							buttons.wrapInner('<span class="bigger-110" />');
						}, 0);
					}
			*/
				});


				//override dialog's title function to allow for HTML titles
				$.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
					_title: function(title) {
						var $title = this.options.title || '&nbsp;'
						if( ("title_html" in this.options) && this.options.title_html == true )
							title.html($title);
						else title.text($title);
					}
				}));

				$( "#id-btn-dialog1" ).on('click', function(e) {
					e.preventDefault();

					var dialog = $( "#dialog-message" ).removeClass('hide').dialog({
						modal: true,
						title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check'></i> jQuery UI Dialog</h4></div>",
						title_html: true,
						buttons: [
							{
								text: "Cancel",
								"class" : "btn btn-minier",
								click: function() {
									$( this ).dialog( "close" );
								}
							},
							{
								text: "OK",
								"class" : "btn btn-primary btn-minier",
								click: function() {
									$( this ).dialog( "close" );
								}
							}
						]
					});

					/**
					 dialog.data( "uiDialog" )._title = function(title) {
						title.html( this.options.title );
					};
					 **/
				});


				$( "#id-btn-dialog2" ).on('click', function(e) {
					e.preventDefault();

					$( "#dialog-confirm" ).removeClass('hide').dialog({
						resizable: false,
						width: '320',
						modal: true,
						title: "<div class='widget-header'><h4 class='smaller'><i class='ace-icon fa fa-exclamation-triangle red'></i> Empty the recycle bin?</h4></div>",
						title_html: true,
						buttons: [
							{
								html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>&nbsp; Delete all items",
								"class" : "btn btn-danger btn-minier",
								click: function() {
									$( this ).dialog( "close" );
								}
							}
							,
							{
								html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; Cancel",
								"class" : "btn btn-minier",
								click: function() {
									$( this ).dialog( "close" );
								}
							}
						]
					});
				});



				//autocomplete
				var availableTags = [
					"ActionScript",
					"AppleScript",
					"Asp",
					"BASIC",
					"C",
					"C++",
					"Clojure",
					"COBOL",
					"ColdFusion",
					"Erlang",
					"Fortran",
					"Groovy",
					"Haskell",
					"Java",
					"JavaScript",
					"Lisp",
					"Perl",
					"PHP",
					"Python",
					"Ruby",
					"Scala",
					"Scheme"
				];
				$( "#tags" ).autocomplete({
					source: availableTags
				});

				//custom autocomplete (category selection)
				$.widget( "custom.catcomplete", $.ui.autocomplete, {
					_create: function() {
						this._super();
						this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
					},
					_renderMenu: function( ul, items ) {
						var that = this,
								currentCategory = "";
						$.each( items, function( index, item ) {
							var li;
							if ( item.category != currentCategory ) {
								ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
								currentCategory = item.category;
							}
							li = that._renderItemData( ul, item );
							if ( item.category ) {
								li.attr( "aria-label", item.category + " : " + item.label );
							}
						});
					}
				});

				var data = [
					{ label: "anders", category: "" },
					{ label: "andreas", category: "" },
					{ label: "antal", category: "" },
					{ label: "annhhx10", category: "Products" },
					{ label: "annk K12", category: "Products" },
					{ label: "annttop C13", category: "Products" },
					{ label: "anders andersson", category: "People" },
					{ label: "andreas andersson", category: "People" },
					{ label: "andreas johnson", category: "People" }
				];
				$( "#search" ).catcomplete({
					delay: 0,
					source: data
				});


				//tooltips
				$( "#show-option" ).tooltip({
					show: {
						effect: "slideDown",
						delay: 250
					}
				});

				$( "#hide-option" ).tooltip({
					hide: {
						effect: "explode",
						delay: 250
					}
				});

				$( "#open-event" ).tooltip({
					show: null,
					position: {
						my: "left top",
						at: "left bottom"
					},
					open: function( event, ui ) {
						ui.tooltip.animate({ top: ui.tooltip.position().top + 10 }, "fast" );
					}
				});


				//Menu
				$( "#menu" ).menu();


				//spinner
				var spinner = $( "#spinner" ).spinner({
					create: function( event, ui ) {
						//add custom classes and icons
						$(this)
								.next().addClass('btn btn-success').html('<i class="ace-icon fa fa-plus"></i>')
								.next().addClass('btn btn-danger').html('<i class="ace-icon fa fa-minus"></i>')

						//larger buttons on touch devices
						if('touchstart' in document.documentElement)
							$(this).closest('.ui-spinner').addClass('ui-spinner-touch');
					}
				});

				//slider example
				$( "#slider" ).slider({
					range: true,
					min: 0,
					max: 500,
					values: [ 75, 300 ]
				});



				//jquery accordion
				$( "#accordion" ).accordion({
					collapsible: true ,
					heightStyle: "content",
					animate: 250,
					header: ".accordion-header"
				}).sortable({
					axis: "y",
					handle: ".accordion-header",
					stop: function( event, ui ) {
						// IE doesn't register the blur when sorting
						// so trigger focusout handlers to remove .ui-state-focus
						ui.item.children( ".accordion-header" ).triggerHandler( "focusout" );
					}
				});
				//jquery tabs
				$( "#tabs" ).tabs();


				//progressbar
				$( "#progressbar" ).progressbar({
					value: 37,
					create: function( event, ui ) {
						$(this).addClass('progress progress-striped active')
								.children(0).addClass('progress-bar progress-bar-success');
					}
				});


				//selectmenu
				$( "#number" ).css('width', '200px')
						.selectmenu({ position: { my : "left bottom", at: "left top" } })

			});
		</script>
	</body>
</html>
