<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>学生管理系统</title>
</head>
<body>
    <div class="container">
        <div class="panel panel-primary">
        <div class="panel-heading">
            Spring boot 学生管理系统 &nbsp;&nbsp;&nbsp;&nbsp;
            （<a href="/cls/list" style="color:wheat">进入班级管理系统</a>）
        </div>

        <div class="panel-body">

            <div class="alert alert-success" role="alert">
                学生信息管理系统，您可以对学生信息进行修改！
                <a href="add">点击添加学生</a>
            </div>

            <!--查询-->
            <form class="form-inline col-lg-8" method="post" action="/stu/list">
                <div class="form-group">
                    <label for="inputClass" >班级</label>
                        <select style="width: 200px;" class="form-control" name="clsid" id="inputClass">
                            <option value="0">---请选择班级---</option>
                            <option th:each="Class:${cls}" th:text="${Class.clsName}" th:value="${Class.clsid}" th:selected="${Class.clsid}==${clsid}">软硕2001班</option>                        </select>
                        </select>
                </div>
                <div class="form-group">
                    <label for="InputName">姓名</label>
                    <input type="text" name="stu_name" class="form-control" id="InputName" th:value="${stu_name}" placeholder="Joe Biden">
                </div>
                <button type="submit" class="btn btn-info">查询</button>
            </form>

            <br/> <br/>

            <!--显示-->
            <table class="table table-hover table-striped">
                <tr>
                    <th>编号</th>
                    <th>用户头像</th>
                    <th>班级</th>
                    <th>用户名</th>
                    <th>性别</th>
                    <th>出生日期</th>
                    <th>学历</th>
                    <th>兴趣爱好</th>
                    <th>幸运色</th>
                    <th>幸运数字</th>
                    <th>电子邮箱</th>
                    <th>操作</th>
                </tr>
                <tr th:each="Student, userStat:${stus.list}">
                    <td th:text="${Student.stuid}">1001</td>
                    <td>
                        <img th:src="'/pics/upload/'+${Student.stu_image_url}" width="80px" height="80px"/>
                    </td>
                    <td th:text="${Student.clsName}">软硕1001班</td>
                    <td th:text="${Student.stu_name}">Joe Biden</td>
                    <td th:text="${Student.stu_sex}==true?'男':'女'">Male</td>
                    <td th:text="${Student.stu_birthday}">1942-11-20</td>
                    <td th:text="${Student.stu_education}">大学本科</td>
                    <td th:text="${Student.stu_interest}">政治</td>
                    <td>
                        <div th:style="'width:100%;height:100%;background-color:'+${Student.my_color}">
                            &nbsp;
                        </div>
                    </td>
                    <td>
                        <span class="badge" th:text="${Student.lucky_number}"></span>
                    </td>
                    <td th:text="${Student.stu_email}">joebiden@us.gov</td>
                    <td><a th:href="@{'list/delete/'+${Student.stuid}}">删除</a> | <a th:href="@{'update/'+${Student.stuid}}">修改</a>
                    </td>
                </tr>
            </table>

            <!--分页-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:class="${stus.hasPreviousPage}?'':'disabled'">
                        <a th:href="${stus.hasPreviousPage}?@{/stu/list(pageIndex=${stus.prePage}, clsid=${clsid}, stu_name=${stu_name})}:'#'" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <th:block th:each="nav : ${stus.navigatepageNums}">
                        <li th:class="${nav==stus.pageNum}?'active':''">
                            <a th:href="@{/stu/list(pageIndex=${nav}, clsid=${clsid}, stu_name=${stu_name})}" th:text="${nav}"></a>
                        </li>
                    </th:block>

                    <li th:class="${stus.hasNextPage}?'':'disabled'">
                        <a th:href="${stus.hasNextPage}?@{/stu/list(pageIndex=${stus.nextPage}, clsid=${clsid}, stu_name=${stu_name})}:'#'" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        </div>
    </div>
</body>
</html>