<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改班级信息</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery-1.10.2.min.js"></script>
</head>
<body>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            修改班级信息
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="/cls/update" method="post" enctype="multipart/form-data">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7">

                            <input type="hidden" th:value="${cls.clsid}" name="clsid">

                            <div class="form-group">
                                <label for="inputClass" class="col-sm-2 control-label">班级</label>
                                <div class="col-sm-10">
                                    <input type="name" name="clsName" th:value="${cls.clsName}" class="form-control" id="inputClass" placeholder="班级">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputclsStuNum" class="col-sm-2 control-label">班级人数</label>
                                <div class="col-sm-10">
                                    <input type="number" name="clsStuNum" th:value="${cls.clsStuNum}" class="form-control" id="inputclsStuNum" placeholder="班级人数">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputTeacher" class="col-sm-2 control-label">班主任</label>
                                <div class="col-sm-10">
                                    <input type="text" name="clsTeacher" th:value="${cls.clsTeacher}" class="form-control" id="inputTeacher" placeholder="班主任">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-info">修改信息</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5"></div>

                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>

</body>
</html>